img{
    width: 90px;
    height: 90px;
}

.well{
    background: #fff;
}

.fa-gear{
    color: #7CE4FE;
    margin-right: 6px;
    font-size: 25px;
}

.cb{
    color: #7CE4FE;
    margin-right: 6px;
    font-size: 25px;
}
a{
    color: #7CE4FE;
}
h6{
    display: inline;
}
 .fa-comments{
    margin-right: 16px;
     color: #7CE4FE;
} 

.blue{
    color: #7CE4FE;
}


.report{
    color: #afabab;
    font-size: 12px;
}

.recieved{
     margin: 10px;
}

.delete  {
    font-size: 30px;
    color : black;
    margin : 8px;
}


.like {
    font-size: 30px;
    /* color : red; */
    margin : 8px;
}
