<div class="row show-hide-message">
    <div [ngClass]="infoClass">
      {{info}}
    </div>
  </div>
<div class="well">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-sm-5 col-xs-4"></div>
        <div class="col-sm-2 col-xs-4">
          <img [src]="photo" class="img-responsive img-no-padding img-circle" alt="">
          <p><i class="fa fa-gear"></i>{{username}}</p>
          <p><i class="fa fa-envelope cb"></i> Messages : {{count}}</p>
          <p><a href="#">tobidev.constructivecritic.com</a></p>
        </div>
        <div class="col-sm-5 col-xs-4"></div>
      </div>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="well">
  <h3 class="text-center"><i class="fa fa-comments"></i> Messages </h3>
  <div class="row">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#home" data-toggle="tab">Recieved</a></li>
          <li><a href="#profile" data-toggle="tab">Favourites</a></li>
        </ul>
      </div>
    </div>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="home">
        <div *ngIf="messages">
          <div *ngFor="let mess of messages">
            <div [hidden]="hideme[mess._id]" class="recieved">
              <p>{{mess.message}}</p>
              <small class="blue">{{mess.date | date : "dd/MM/yyyy"}}</small>-<a class="report" href="#">Report</a>
              <p>
                <span>
                      <a>
                          <i (click)="deleteMessage(username, mess._id);  reduce(); hideme[mess._id]=!hideme[mess._id] " class="fa fa-trash-o delete"></i>
                      </a>
                      <a>
                        <i (click)="favouriteMessage(username, mess.id);" [ngClass]="{'fa-heart' : mess.favourite, 'fa-heart-o' : !mess.favourite}" class="fa  like"></i>
                      </a>  
                      </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="profile">
        <div *ngIf="favmessages">
          <div *ngFor="let fav of favmessages">
            <div class="recieved">
                <p>{{fav.message}}</p>
                <small class="blue">{{fav.date | date : "dd/MM/yyyy"}}</small>
                <p>
                  <span>
                    <i class="fa fa-trash-o delete"></i>
                    <i class="fa fa-heart like"></i>
                  </span>
                </p>
            </div>
            
          </div>

        </div>
        
      </div>
     
    </div>
  </div>
</div>
