<div class="well">
  <div class="row">
      <div class="row show-hide-message">
          <div [ngClass]="messageClass">
            {{message}}
          </div>
        </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class=" lead"><i class="fa fa-edit"></i> Please enter your email to reset your password</p>
      <div [hidden]="formSent" >
        <form [formGroup] = "resetpasswordForm" novalidate (submit)="onForgotPasswordSubmit()" >
          <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-lg">Reset Password</button>
          </div>
        </form>
      </div>

     <div [hidden]="!formSent" >
       <h3 class="text-center">Check your email <i class="fa fa-envelope"></i> </h3>
     </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
