<h2>About Us</h2>
<p class="lead">Constructive Critic helps you in discovering your strengths and areas for improvement by receiving honest feedback from your employees and your friends in a private manner</p>
<hr>
<h3>FAQ</h3>
<p>
    <strong>Will Constructive critic show the identity of senders?</strong>
</p>
<p>Constructive critic  won't disclose the identity of the logged-in senders to users except with their consent.</p>
<br>
<p>
    <strong>Is Constructive Critic a hacker?</strong>
</p>
<p>Constructive critic doesn't steal data but websites and apps impersonating Sarahah could do that</p>
<p>
<br>
    <strong>Can Constructive crtitic visitors view my messages??</strong>
</p>
<p>They can't as long as you don't share your messages.</p>