<h4>Get Honest feedback from your friends and co-workers</h4>
<div class="row">
<br>
    <div class="col-md-6">
        <p>At Work</p>
        <ul>
            <li>Ehance your areas of strength</li>
            <li>Strengthen Areas for Imporvement</li>
        </ul>
    </div>
    <div class="col-md-6">
        <p>With Your Friends</p>
        <ul>
            <li>Improve your friendship by discoverying your strengths and areas for improvement</li>
            <li>Let your Friends be honest with you</li>
        </ul>
    </div>
</div>