<div class="row">
  <div class="row show-hide-message">
    <div [ngClass]="messageClass" >
      {{message}}
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Register</h3>
        <p class="text-center"><i class="fa fa-edit"></i> Sign up for an account on Constructive Critic</p>
      </div>
      <div class="panel-body">
        <form [formGroup]="registerForm" (submit)="onSubmit()" novalidate>
          <div class="form-group">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <div [ngClass]="{'has-error':(email.errors && email.dirty) ||(!emailValid && email.dirty) , 'has-success': !email.errors && emailValid}">
              <input type="email" (blur)="checkEmail()" autocomplete="off" formControlName="email" class="form-control" name="email" id="email">
              <ul class="help-block">
                <li *ngIf="email.errors?.required && email.dirty">
                  This field is required
                </li>
                <li *ngIf="email.errors?.email && email.dirty">
                  Email must be Valid
                </li>
                 <li *ngIf="emailMessage">{{emailMessage}}</li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="name"> <i class="fa fa-user-o"></i> Name</label>
            <div [ngClass]="{'has-error':(name.errors && name.dirty), 'has-success': !name.errors}">
              <input type="text" autocomplete="off" formControlName="name" name="name" id="name" class="form-control">
              <ul class="help-block">
                <li *ngIf="name.errors?.required && name.dirty">
                  This field is required
                </li>
                <li *ngIf="(name.errors?.minlength || name.errors?.maxlength) && name.dirty">
                  Name must have at least 4 characters but not more than 20
                </li>
                <li *ngIf="name.errors?.validateName && name.dirty">
                  Name must contain only alphabets
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="username"><i class="fa fa-user-o"></i> Username</label>
            <div [ngClass]="{'has-error':(username.errors && username.dirty) || (!usernameValid && username.dirty), 'has-success': !username.errors && usernameValid}">
              <input type="text" (blur)="checkUsername()" autocomplete="off" formControlName="username" name="username" id="username" class="form-control">
              <ul class="help-block">
                <li *ngIf="username.errors?.required && username.dirty">
                  This field is required
                </li>
                <li *ngIf="(username.errors?.minlength || username.errors?.maxlength) && username.dirty">
                  Username must have at least 3 characters but not more than 15
                </li>
                <li *ngIf="username.errors?.validateUsername && username.dirty">
                  Username cannot contain special characters only alphabets and numbers
                </li>
                <li *ngIf="usernameMessage">{{usernameMessage}}</li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="password"> <i class="fa fa-lock"></i> Password</label>
            <div [ngClass]="{'has-error':(password.errors && password.dirty), 'has-success': !password.errors}">
              <input type="password" autocomplete="off" formControlName="password" name="password" id="password" class="form-control">
              <ul class="help-block">
                <li *ngIf="password.errors?.required && password.dirty">
                  This field is required
                </li>
                <li *ngIf="(password.errors?.minlength || password.errors?.maxlength) && password.dirty">
                  Maximum characters 35 minimum 6
                </li>
                <li *ngIf="password.errors?.validatePassword && password.dirty">
                  Password must have at least one lowercase, uppercase, number and special character
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm"> <i class="fa fa-lock"></i>  Confirm Password</label>
            <div [ngClass]="{'has-error':(confirm.errors && confirm.dirty) || (registerForm.errors?.matchingPasswords && confirm.dirty), 'has-success': !confirm.errors && !registerForm.errors?.matchingPasswords}">
              <input type="password" autocomplete="off" formControlName="confirm" name="confirm" id="confirm" class="form-control">
              <ul class="help-block">
                <li *ngIf="confirm.errors?.required && confirm.dirty ">
                  This field is required
                </li>
                <li *ngIf="registerForm.errors?.matchingPasswords && confirm.dirty">
                  Passwords do not match
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="!registerForm.valid || processing || !emailValid || !usernameValid" class="btn btn-lg btn-info"><i class="fa fa-user-plus"></i>Register</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
